<h1>Places I've Been</h1>

 <ul>
   <% for post in @place.posts %>
    <li>
      <a href="/posts/<%= post.id %>"><%= place.name %></a>
    </li>
   <% end %>
</ul>

<p><a href="/places/new">Create a new post</a></p>